@import url(./normalize.css);
.body {
  font-family: "TT Lakes";
}
.brands {
  padding: 0 0 12px;
  margin: 0;
  background-color: #f8f8f8;
  overflow: hidden;
}
.brands__title {
  padding: 16px 16px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #7e7e82;
  text-transform: uppercase;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
}
.swiper-slide__link {
  background-color: #ffffff;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 210px;
  padding: 16px;
  align-items: center;
}
.swiper-slide__item-next {
  width: 40px;
  height: 40px;
}
.swiper {
  margin: 0;
  padding: 0;
  transform: translate(-25px);
  display: flex;
  overflow: visible !important;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc !important;
}
.swiper-wrapper {
  padding-bottom: 26px !important;
}
.swiper-slide-next {
  transform: translate(-65px) !important;
}
.swiper-pagination {
  padding-left: 9px;
}
