@import url(./normalize.css);
@import url(./styles/body/body.css);
@import url(./styles/brands/brands.css);
@import url(./styles/brands/__title/brands__title.css);
@import url(./styles/brands/__list/brands__list.css);
@import url(./styles/swiper-slide/__link/swiper-slide__link.css);
@import url(/styles/swiper-slide/__item-next/swiper-slide__item-next.css);
@import url(./styles/swiper/swiper.css);
@import url(./styles/swiper-pagination-bullet-active/swiper-pagination-bullet-active.css);
@import url(./styles/swiper-wrapper/swiper-wrapper.css);
@import url(./styles/swiper-pagination/swiper-pagination.css);
@import url(./styles/brands/__read-more/brands__read-more.css);
@import url(./styles/brands/__list-element/brands__list-element.css);
@import url(./styles/brands/__link/brands__link.css);
@import url(./styles/brands/__item-next/brands__item-next.css);
@import url(./styles/brands/__read-more-icon/brands__read-more-icon.css);
@import url(./styles/brands/__list/_deployed/brands__list_deployed.css);
@import url(./styles/brands/__read-more-icon/_reverse/brands__read-more-icon_reverse.css);
@import url(./styles/swiper-pagination-bullet/swiper-pagination-bullet.css);
@import url(./styles/swiper-slide/swiper-slide.css);
