.swiper {
  margin: 0;
  padding: 0;
  transform: translate(-25px);
  display: flex;
  overflow: visible !important;
}
@media screen and (min-width: 767px) {
  .swiper {
    display: none !important;
  }
}
