@media screen and (min-width: 767px) {
  .brands__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 0 16px;
  }
}
