.brands__title {
  padding: 16px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: #7e7e82;
  text-transform: uppercase;
  min-height: 48px;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
}
@media screen and (min-width: 767px) {
  .brands__title {
    padding: 16px 0 0 24px;
  }
}
@media screen and (min-width: 1120px) {
  .brands__title {
    padding-left: 32px;
  }
}
