.swiper-slide-next {
  transform: translate(-65px) !important;
}
@media screen and (min-width: 400px) {
  .swiper-slide-next {
    transform: translate(-100px) !important;
  }
}
@media screen and (min-width: 450px) {
  .swiper-slide-next {
    transform: translate(-180px) !important;
  }
}
@media screen and (min-width: 500px) {
  .swiper-slide-next {
    transform: translate(-230px) !important;
  }
}
